<div *ngIf="isLoginError" class="red-text center error-message">
Contraseña o Usuario incorecto.
</div>
<form #loginForm= "ngForm"  class="col s12 white" (ngSubmit)="login(UserName.value,Password.value)">
  <div class="row">
    <div class="input-fiel col s12">
      <input type="text" #UserName ngModel name="UserName" placeholder="UserName">
    </div>
  </div>
  <div class="row">
    <div class="input-fiel col s12">
      <input type="Password" #Password ngModel name="Password" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large butn-submit" type="submit">Iniciar Sesion</button>
    </div>
  </div>
</form>