<html>
    
<body>
        
<div class="container">
    
    <div>
        <img src="/assets/images/logoXTEC.jpg" class="img-fluid" alt="Chania" style="position:relative; left:1500px">
        </div>

        <div class="card" style="text-align:center">
                <div class="card-header">
                    <h1 class="text-xs-center"  >EatOnTimeTEC </h1>
                    <h3 class="text-xs-center" >Administradores</h3>
                </div>
                <div class="card-body" >
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre de usuario">
                            
                            
                        </div>
                        <p></p>
                        <div class="input-group form-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-group" >
                            <input type="submit" value="Registrarse" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
        </div>
        

    
</div>

</body>
</html>
