<body>
        
        <div class=container>
    
    
    
    <div class="container1" style="position:relative; left:40px;top:200px">
                
                        <div class="form-group">
                                <h1 class="text-center" style="position:relative;top:5px"> Tipo de cambio</h1>
                                <h2 class="text-center"> 1pt equivale a:</h2> <h2 class="text-center"> 20 colones </h2>
                              </div>

                              <div class="input-group md-form form-sm form-1">
                                    
                                    <input class="form" type="text" style="position:relative;width: 50px; left:30%;top:20px">
                                    <button class="btn btn-rounded" type="submit" style="height:30px;width:90px;position:relative; left:35%;top:20px">Modificar</button>
                                    
                                  </div>
                </div>

                <div class="container2" style="position:relative; left:500px;top:-100px">
                        <div class="form-group" style="position:relative" >
                                <h1 class="text-center" style="position:relative;top:5px" > Puntos por tipo de platillo</h1>
                                <h2 style="position:relative;left:15px">Ensalada: 40 pts </h2>
                                <h2 style="position:relative;left:15px"> Carnes:   20 pts </h2>
                                <h2 style="position:relative;left:15px"> Vegetariana:  15 pts </h2>
                                <h2 style="position:relative;left:15px"> Pastas:  5 pts </h2>
                              </div>

                              <div class="input-group md-form form-sm form-2">
                                    
                                    <input class="form2" type="text" style="position:relative;width: 50px; left:60%;bottom:180px">
                                    <button class="btn btn-rounded" type="submit" id="boton2" style="height:30px;width:90px;position:relative; left:65%;bottom:180px">Modificar</button>
                                    
                                  </div>

                                  <div class="input-group md-form form-sm form-2">
                                    
                                        <input class="form2" type="text" style="position:relative;width: 50px; left:60%;bottom:170px">
                                        <button class="btn btn-rounded" type="submit" id="boton2" style="height:30px;width:90px;position:relative; left:65%;bottom:170px">Modificar</button>
                                        
                                      </div>

                                      <div class="input-group md-form form-sm form-2">
                                    
                                            <input class="form2" type="text" style="position:relative;width: 50px; left:60%;bottom:155px">
                                            <button class="btn btn-rounded" type="submit" id="boton2" style="height:30px;width:90px;position:relative; left:65%;bottom:155px">Modificar</button>
                                            
                                          </div>

                                          <div class="input-group md-form form-sm form-2">
                                    
                                                <input class="form2" type="text" style="position:relative;width: 50px; left:60%;bottom:135px">
                                                <button class="btn btn-rounded" type="submit" id="boton2" style="height:30px;width:90px;position:relative; left:65%;bottom:135px">Modificar</button>
                                                
                                              </div>

                </div>



 
    </div>


</body>
